@model IEnumerable<LibrarySystem.Data.Models.VwBooksLoan>

@{
	ViewData["Title"] = "Index";
}

<h1> Empréstimo de Livros</h1>

<p>
	<a class="btn btn-primary" asp-action="Create"><i class="fa fa-plus-circle"></i> Novo Empréstimo</a>
</p>
<table id="myTable" class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Cpf)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CustomerName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.BookName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LoanDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DeliveryDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Returned)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Cpf)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CustomerName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.BookName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LoanDate)
				</td>
				@{
					var styleStatus = "";

					if (item.Returned == true)
					{
						styleStatus = "";
					}
					else
					{
						DateTime dateNow = DateTime.Now.Date;
						DateTime deliveryDate = item.DeliveryDate.Date;
						int result = DateTime.Compare(dateNow, deliveryDate);

						if (result > 0)
							styleStatus = "text-white bg-danger";
						else if (result == 0)
							styleStatus = "bg-warning";
						else
							styleStatus = "text-white bg-success";
					}

				}
				<td class="@styleStatus">
					@Html.DisplayFor(modelItem => item.DeliveryDate)
				</td>
				<td>
					@Html.CheckBoxFor(modelItem => item.Returned, new { onclick = "return false" })
				</td>
				<td>
					<a asp-action="Edit" class="btn btn-success m-1" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
					<a asp-action="Details" class="btn btn-primary m-1" asp-route-id="@item.Id"><i class="fa fa-search"></i></a>				
				</td>
			</tr>
		}
	</tbody>
</table>

@section Scripts {

	<script>
		$(document).ready(function () {
			$('#myTable').DataTable({
				language: {
					url: 'https://cdn.datatables.net/plug-ins/1.11.5/i18n/pt-BR.json',
				},
			});
		});
	</script>
}