@model IEnumerable<LibrarySystem.Data.Models.Book>

@{
	ViewData["Title"] = "Index";
}

<h1>Livros Cadastrados</h1>

<p>
	<a class="btn btn-primary" asp-action="Create">Novo Livro</a>
</p>
<table id="myTable" class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Author)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Publisher)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PublicationYear)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Edition)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Author)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Publisher)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PublicationYear)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Edition)
				</td>
				<td>
					<a asp-action="Edit" class="btn btn-success m-1" asp-route-id="@item.Id">Alterar</a>
					<a asp-action="Details" class="btn btn-primary m-1" asp-route-id="@item.Id">Detalhes</a>

					<!-- Botão para acionar modal -->
					<button type="button" class="btn btn-danger m-1" data-toggle="modal" data-target="#DeleteModalCenter-@item.Id">
						Excluir
					</button>

					<!-- Modal -->
					<div class="modal fade" id="DeleteModalCenter-@item.Id" tabindex="-1" role="dialog" aria-labelledby="DeleteModalCenterTitle" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="DeleteModalCenterTitle">Excluir Livro</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									Deseja realmente excluir o livro @item.Name ?
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary m-1" data-dismiss="modal">Cancelar</button>
									<a asp-action="Delete" class="btn btn-danger m-1" asp-route-id="@item.Id">Excluir</a>
								</div>
							</div>
						</div>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>

@section Scripts {

	<script>
		$(document).ready(function () {
			$('#myTable').DataTable({
				language: {
					url: 'https://cdn.datatables.net/plug-ins/1.11.5/i18n/pt-BR.json',
				},
			});
		});
	</script>
}
